*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-head{
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
}

.header-text{
  padding: 20px;
}

.blog-box{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
}

.blog{
  width: 840px;
}

.blog-content{
  width: 840px;
  padding: 30px 0;
  border-bottom: 1px solid gray;
}

